{% extends 'base.html.twig' %}


{% block body %}
<div class="container mx-auto mt-96">
    <h1 class="text-4xl text-center font-bold">Welcome to the Expense API Project</h1>
    <p class="text-lg text-center text-gray-600 pt-10"> Navigate to /api to get access to the API Documentation & Use Endpoints & performs Crud Operations. You can use any Frontend Framework you want to achieve it.</p>
</div>
{% endblock %}
